* {
    box-sizing: border-box;
    cursor: url(img/pink_star.gif), auto;
    overflow-x: hidden;
}

#content {
    background-image: url('img/starsagain.gif');
}

.image-container {
    width: 100%;
}

.game-cover {
    width: 95%;
    height: auto;
    padding-bottom: 95%; /* This maintains the container's aspect ratio based on width */
    background-image: var(--static-image);
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.image-container:hover .game-cover {
    background-image: var(--hover-image);
}


a {
    cursor: url(img/pink_star.gif), pointer;
}

.image-container {
    text-align: center;
    width: 100%;
    background-image: url('img/starsagain.gif');
}

.star-divider {
    width: 30%;
    background-image: url('img/starsagain.gif');
}

div {
    display: block;
    unicode-bidi: isolate;
}

.banner {
    background: #C657C5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 5px dashed #fff;
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto auto;
}

body {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

